
.row[data-v-9e5983fa]
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.row h1[data-v-9e5983fa]
{
  margin-right: 20px;
  padding: unset;
  line-height: unset;
}
.table[data-v-9e5983fa]
{
  background-color: #FFFFFF;
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
  border-spacing: 0;
  border-collapse: collapse;
}
.tablenav-pages[data-v-9e5983fa]
{
  display: flex;
  align-items: center;
  float: right;
  margin-top: 20px;
}
.tablenav-pages button[data-v-9e5983fa]
{
  margin-left: 5px;
  margin-right: 5px;
}
.title[data-v-9e5983fa]
{
  font-weight: 600;
  font-size: 14px;
}
.erase[data-v-9e5983fa]
{
  color: #9C1F14;
}
.post__a[data-v-9e5983fa]
{
  margin-right: 10px;
  font-size: 12px;
}
th[data-v-9e5983fa]
{
  font-weight: 500;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #CDD0D4;
}
td[data-v-9e5983fa]
{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #CDD0D4;
    background-color: #F6F7F7;
}
td[data-v-9e5983fa]:nth-child(1)
{
  width: 2%;
}
td[data-v-9e5983fa]:nth-child(2)
{
  width: 18%;
}
td[data-v-9e5983fa]:nth-child(3)
{
  width: 18%;
}
td[data-v-9e5983fa]:nth-child(4)
{
  width: 18%;
}
td[data-v-9e5983fa]:nth-child(6)
{
  width: 18%;
}
.shortcode__table[data-v-9e5983fa]
{
  display: flex;
}
.copy[data-v-9e5983fa]
{
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
a[data-v-9e5983fa]
{
  text-decoration: none;
  font-weight: 600;
}
.header__title[data-v-9e5983fa]
{
  cursor: pointer;
}




.settings-panel[data-v-e4dc4572]
{
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 2px 15px 20px 15px;
  border: 1px solid #CDD0D4;
}
.container[data-v-e4dc4572]
{
  display: flex;
  flex-direction: row;
}
.col-l[data-v-e4dc4572]
{
  width: 10vw;
}
.col-r[data-v-e4dc4572]
{
  width: 50vw;
}


